<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.typescript.example"
    version   = "1.0.0">

<name>TypeScript Example</name>
<description>How to use PhoneGap and TypeScript.</description>

<author href="https://example.com" email="mikegs.dev@gmail.com">Mickael PETITFILS</author>
</widget>
